header {
  h1 {
    text-shadow: 1px 1px rgb(117, 116, 116);
    font-size: 4em;
    line-height: .5em;
    text-align: center;
  }

  h4 {
    text-shadow: 1px 1px rgb(117, 116, 116);
    font-size: 1em;
    line-height: 4em;
    text-align: center;
  }
}
